@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Contact Manager</h1>
    <h3>Final Project for BDAT 1001</h3>
    <p>Team Members: Cassandra Forlani, Yi-Chen Hsiao, Ruwindhu Hettige Don </p>
</div>
